.services{
	height: 100vh;
  background-image: url('../../assets/img/linea\ servicios.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.services-title{
	font-style: italic;
	font-weight: bolder;
	font-size: 64px;
}
.splide__arrow{
	background:none!important;
}
.splide__arrow svg{
	width: 2rem !important;
	height: 2rem !important;
}
.splide__pagination__page{
	background: var(--naranja) !important;
}
.splide__pagination__page.is-active{
	opacity: 1 !important;
}
@media (min-width:1400px){
	.services{
		height: auto;
		padding: 75px 0;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.services-title{
		font-size: 86px;
		padding-bottom: 35px;
	}
}
@media (min-width:576px) and (max-width: 992px){
	.services{
		height: auto;
		padding: 75px 0;
	}
}
@media (max-width:575px){
	.services{
		height: auto;
		padding-top:25px;
	}
	.services-title{
		font-size: 42px;
	}
}