.services-card{
  color: var(--blanco);
  border-radius: 5px;
  padding: 25px 30px;
  transition: .3s ease all;
  background-color: rgb(38, 38, 38, 0.85);
  border-radius: 10px;
  margin: 0 5px 15px;
  height: auto;
}
.card-img-top{
  width: 100%;
  height: 400px;
}
.card-text{
  font-size: 18px;
}
@media (max-width: 992px){
  .card-text{
    font-size: 14px;
  }
}