.about{
  position: relative;
  width: 100%;
  padding-top: 150px;
}
.about-fondo{
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--naranja);
  opacity: 0.55;
  clip-path: polygon(100% 0, 15% 100%, 100% 100%);
}
.about-circulo{
  z-index: 2;
  position: absolute;
  top: 70px;
  left: 50%;
  right: 50%;
  width: 200px;
  height: 200px;
  background-color: var(--negro);
  opacity: 0.75;
  clip-path: circle(50% at 50% 50%);
}
.about-text-box{
  display: flex;
  color: var(--negro);
  height: 100%;
}
.about-title{
  z-index: 3;
  font-size: 96px;
  font-weight: bolder;
  font-style: italic;
  margin-bottom: 0;
  position: relative;
  z-index: 40;
}
.about-subtitle{
  position: relative;
  z-index: 40;
}
.about-logo{
  z-index: 4;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  align-self: center;
  margin-top: -15px;
  margin-bottom: 15px;
}
.about-img{
  z-index: 5;
  height:80vh;
  position: relative;
  object-fit: cover;
  border-radius: 5px;
}
.about-link-mas{
  position: relative;
  display: inline-block;
  z-index: 47;
  color: var(--blanco);
  background-color: var(--naranja);
  padding: 5px 10px;
  border-radius: 5px;
}
.about-link-mas:hover{
  color: var(--negro);
  opacity: 0.9;
}
.about-link{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--negro);
  font-weight: bolder;
  font-style: italic;
  position: relative;
  z-index: 35;
}
.about-link:hover{
  color: var(--blanco);
}
.about-link-menos{
  margin-top: -10px;
}
@media (min-width:1400px){
  .about{
    padding-top: 200px;
  }
  .about-title{
    font-size: 125px;
  }
  .about-subtitle{
    padding-right: 25px;
  }
}
@media (min-width:576px) and (max-width:992px){
  .about{
    padding-top: 0;
    margin-top: 45px;
  }
  .about-text-box{
    flex-direction: column;
    justify-content: center;
  }
  .about-circulo{
    display: none;
  }
  .about-img{
    height: 30vh;
  }
}
@media (max-width:575px){
  .about{
    padding-top: 0;
    margin-top: 25px;
  }
  .about-circulo{
    display: none;
  }
  .about-text-box{
    flex-direction: column;
    justify-content: center;
  }
  .about-title{
    font-size: 70px;
  }
  .about-img{
    height: 30vh;
  }
  .about-link-mas{
    margin-bottom: 15px;
  }
}